.debate-toc > li:hover::after {
    content: " <-";
}

.debate-toc a, .debate-toc a:hover, .debate-toc a:active, .debate-toc a:visited {
    text-decoration: none;
    color: black;
}

.debate-toc a:hover {
    text-decoration: underline;
}

.debate-subject {
    background-color: #66c68c;
    color: white;
    padding: 20px;
    margin: 20px 0;
}

.debate-subject:nth-child(even) {
    background-color: white;
    color: black;
}

.debate-subject h3 {
    border-top: solid 1px white;
    text-align: left;
    border-radius: 0 20px;
    padding-top: 20px;
    margin-top: 40px;
}

.debate-subject:nth-child(even) h3 {
    border-top: solid 1px black;
}

.debate-subject h3:nth-of-type(even) {
    text-align: right;
    border-radius: 20px 0;
}