blockquote {
    background-color: #fefefe;
    padding: 20px;
    color: #5f6265;
    border: solid black 1px;
    box-shadow: grey 2px 2px;
}

cite {
    font-style: normal;
}

i {
    font-style: italic;
}

b {
    color: black;
    font-weight: bold;
}