.nav-link, .active-nav-link {
    padding: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.nav-link:hover, .active-nav-link {
    color: rgb(175, 202, 46);
    background-color: #e9f0f5;
}

@media only screen and (max-width: 560px) {
    .nav-link, .active-nav-link {
        display: block;
        transition: 0.3s;
    }
}